<template web>
  <div id="app">
    <router-view/>    
  </div>
</template>

<script>
// import axios from 'axios'
export default {
  name: 'app',
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style web>
  .employee{
    width: 180px;
    height: 180px;
    border: 1px solid #676A6C;
    margin-top: 30px;
}

.welcome{
    font-size: 2.25rem;
    font-family: Roboto Bold;
    color: rgb(63, 59, 5);
    margin: 15px;
}
</style>

</style>
