<template>
  <div>
    <img class="employee" src="/assets/fa-user-circle.png">
        <h1 class="welcome">
            Ingeklokt
        </h1>
        <button class='clockbutton' @click="clkClock">Uitklokken</button>
        <p>
          <button class='breakbutton' @click="clkBreak">Pauze</button>
          <button class='switchbutton' @click="clkDep">Wisselen</button>
        </p>
  </div>
</template>

<script>
  import Clock from './clock.vue'
  import axios from 'axios'


  function insertBreak() {
    
  }

  function clockOut() {
                axios.put('http://localhost:8079/apiv1/session', {endtime: getDateTime()},{headers: {'x-access-token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1NjA1OTgwMTcsImlhdCI6MTU1OTczNDAxNywic3ViIjoiYWRtaW5AZXhhbXBsZS5jb20iLCJjbG9ja25yIjoxMTF9.Z8KSmElXFBJpNhMZLFENDqaR9wiIIIUqaYfU0-l_pM8'}})
                .then(function (response) {
                    console.log(response);
                })
                .catch(function (error) {
                    console.log(error);
                });  
  }

  function getDateTime() {
        var today = new Date();
        return (today.getFullYear() + '-' + (today.getMonth()+1) + '-' + today.getDate()) + ' ' + getTime();
    }

    function getTime() {
        var today = new Date;
        return today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds();
    }

  function changeDepartment(){
    
  }

  export default {
    name: "ClockIn",
    components : {
      Clock
    },
    methods: {
      clkClock() {
        console.log("called: clockOut")
        clockOut();
        this.$router.push({ path: '/homepage'})
      },
      clkBreak() {
        console.log("called: insertBreak")
        insertBreak();
      },
      clkDep() {
        console.log("called: changeDepartment")
        changeDepartment();
      }
    }
  }

</script>

<style scoped>
.clockbutton{
    width: 500px;
    height: 150px;
    background-color: #00A0D1;
    color: white;
    font-family: Roboto Light;
    font-size: 4rem;
    border-radius: 5px;
    margin: 15px;

}
.employee{ 
    width: 180px;
    height: 180px;
    border-radius: 90px;
    border: 1px solid #676A6C;
    margin-top: 30px;
}

.welcome{
    font-size: 2.25rem;
    font-family: Roboto Bold;
    color: #676A6C;
    margin: 15px;
}
.breakbutton{
    width: 235px;
    height: 150px;
    font-family: Roboto Light;
    font-size: 3rem;
    border: 1px solid #676A6C;
    border-radius: 5px;
    margin: 15px;
}
.switchbutton{
    width: 235px;
    height: 150px;
    font-family: Roboto Light;
    font-size: 3rem;
    border: 1px solid #676A6C;
    border-radius: 5px;
    margin: 15px;
}
div{
    text-align: center;
}
</style>