<template>
    <div id="clock">
        <p>{{date}}</p>
        <p>{{time}}</p>
    </div>
    
</template>

<script>

    function getDate() {
        var today = new Date();
        var day = today.getDate();
        var month = today.getMonth()+1;
        var year = today.getFullYear();
        var date = day + '-' + month + '-' + year;
        return date;
    }

    function setTime() {
        var today = new Date;
        var hours = today.getHours();
        var mins = today.getMinutes();
        var secs = today.getSeconds();
        var time = hours + ':' + mins + ':' + secs
        return time;
    }

    // function updateTime() {
    //     var myVar = setInterval(setTime, 1000)
    //     return myVar
    // }
    
    export default {
        name: "clock",
        data () {
            return {
                date: getDate(),
                time: setTime()   
            }
        }
    }

</script>

<style scoped>

</style>
