<template>
    <div>
        <img class="employee" src="/assets/fa-user-circle.png">
        <div class="welcome" v-if="night">
            Goedenacht 
        </div>
        <div class="welcome" v-else-if="morning">
            Goedemorgen
        </div>
        <div class="welcome" v-else-if="afternoon">
            Goedemiddag 
        </div>
        <div class="welcome" v-else-if="evening">
            Goedenavond 
        </div>       

        <button class='clockbutton' @click="ClockIn">Inklokken</button>
        <p>
            <button class='breakbutton' @click="Break">Pauze</button>
            <button class='switchbutton' @click="Switch">Wisselen</button>
        </p>
    </div>
</template>

<script>
    import axios from 'axios'


    function setDay(v){
        var today=new Date();
        var hours = today.getHours();
        if(v==0){
            if (hours<6){
                return true;
            }else return false;
        }else if(v==1){
            if (6<=hours&&hours<12){
                return true;
            }else return false;
        }else if(v==2){
            if (12<=hours&&hours<18){
                return true;
            }else return false;
        }else if(v==3){
            if (18<=hours&&hours<24){
                return true;
            }else return false;            
        }else return false;
    }

    function getDateTime() {
        var today = new Date();
        return (today.getFullYear() + '-' + (today.getMonth()+1) + '-' + today.getDate()) + ' ' + getTime();
    }

    function getTime() {
        var today = new Date;
        return today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds();
    }

    function clockIn() {
                axios.post('http://localhost:8079/apiv1/session', {departmentid: 1, starttime: getDateTime()},{headers: {'x-access-token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1NjA1OTgwMTcsImlhdCI6MTU1OTczNDAxNywic3ViIjoiYWRtaW5AZXhhbXBsZS5jb20iLCJjbG9ja25yIjoxMTF9.Z8KSmElXFBJpNhMZLFENDqaR9wiIIIUqaYfU0-l_pM8'}})
                .then(function (response) {
                    console.log(response);
                })
                .catch(function (error) {
                    console.log(error);
                });  
    }

    export default {
        name: 'Clock',
        props: ["user"],
        methods: {
            ClockIn(){
                console.log("123")
                clockIn();
                this.$router.push({ path: '/clockout' })                
            },
            Break(){
                console.log("234")
            },
            Switch(){
                console.log("345")
            }
        },
        data() {
            return {
                night: setDay(0),
                morning: setDay(1),
                afternoon: setDay(2),
                evening: setDay(3)
            }            
        }
    }
</script>

<style scoped>
.clockbutton{
    width: 500px;
    height: 150px;
    background-color: #00A0D1;
    color: white;
    font-family: Roboto Light;
    font-size: 4rem;
    border-radius: 5px;
    margin: 15px;

}
.employee{ 
    width: 180px;
    height: 180px;
    border-radius: 90px;
    border: 1px solid #676A6C;
    margin-top: 30px;
}

.welcome{
    font-size: 2.25rem;
    font-family: Roboto Bold;
    color: #676A6C;
    margin: 15px;
}
.breakbutton{
    color: rgba(103, 106, 108, 0.274);
    width: 235px;
    height: 150px;
    font-family: Roboto Light;
    font-size: 3rem;
    border: 1px solid #676A6C;
    border-radius: 5px;
    margin: 15px;
}
.switchbutton{
    color: rgba(103, 106, 108, 0.274);
    width: 235px;
    height: 150px;
    font-family: Roboto Light;
    font-size: 3rem;
    border: 1px solid #676A6C;
    border-radius: 5px;
    margin: 15px;
}
div{
    text-align: center;
}
</style>
