<template>    
    <div>
        <h1>Homepage</h1>
        <router-link to="/clockin" v-bind="user">Clock in</router-link>
    </div>
</template>

<script>
export default {
    name: "Homepage",
    data() {
        return {
            user: {
                personname: "testname"
            }
        }
    }
}
</script>

<style scoped>
</style>
